/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a { color: #0366d6; }

.btn-primary {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff;
}

.navbar-custom {
    background-color: #071E3E !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}



/* Sticky footer styles
-------------------------------------------------- */

html {
    min-height: 100%;
    position: relative;
}

